<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>聚会电商后台管理系统</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="/css/font-awesome.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/css/ace.min.css" />
		<link rel="stylesheet" href="/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/css/ace-skins.min.css" />
		<link rel="stylesheet" href="/css/tab.css" />
		<script src="/js/ace-extra.min.js"></script>
		<style type="text/css">
			body {
				overflow: hidden;
			}
			.tab-content {
				border: none;
				padding: 10px 0px;
			}
			#menu_li_0 {
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-cogs"></i>
							聚会电商后台管理
						</small>
					</a>
				</div>

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-tasks"></i>
								<span class="badge badge-grey">4</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-ok"></i>
									还有4个任务完成
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">软件更新</span>
											<span class="pull-right">65%</span>
										</div>

										 <div class="progress progress-mini">
											<div style="width:65%" class="progress-bar "></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">硬件更新</span>
											<span class="pull-right">35%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:35%" class="progress-bar progress-bar-danger"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">单元测试</span>
											<span class="pull-right">15%</span>
										</div>

										<div class="progress progress-mini ">
											<div style="width:15%" class="progress-bar progress-bar-warning"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">错误修复</span>
											<span class="pull-right">90%</span>
										</div>

										<div class="progress progress-mini progress-striped active">
											<div style="width:90%" class="progress-bar progress-bar-success"></div>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										查看任务详情
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-bell-alt icon-animated-bell"></i>
								<span class="badge badge-important">8</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-warning-sign"></i>
									8条通知
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink icon-comment"></i>
												新闻评论
											</span>
											<span class="pull-right badge badge-info">+12</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<i class="btn btn-xs btn-primary icon-user"></i>
										切换为编辑登录..
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
												新订单
											</span>
											<span class="pull-right badge badge-success">+8</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										<div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-info icon-twitter"></i>
												粉丝
											</span>
											<span class="pull-right badge badge-info">+11</span>
										</div>
									</a>
								</li>

								<li>
									<a href="#">
										查看所有通知
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="icon-envelope icon-animated-vertical"></i>
								<span class="badge badge-success">5</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="icon-envelope-alt"></i>
									5条消息
								</li>

								<li>
									<a href="#">
										<img src="/img/avatar.png" class="msg-photo" alt="Alex's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Alex:</span>
												不知道写啥 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>1分钟以前</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="/img/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Susan:</span>
												不知道翻译...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>20分钟以前</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<img src="/img/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
										<span class="msg-body">
											<span class="msg-title">
												<span class="blue">Bob:</span>
												到底是不是英文 ...
											</span>

											<span class="msg-time">
												<i class="icon-time"></i>
												<span>下午3:15</span>
											</span>
										</span>
									</a>
								</li>

								<li>
									<a href="inbox.html">
										查看所有消息
										<i class="icon-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/img/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>欢迎光临,</small>
									Jason
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										设置
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-user"></i>
										个人资料
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>








		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<ul class="nav nav-list" id="menu">

					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">


					<div class="page-content">


						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<ul class="nav-my-tab">
                    <li class="leftbackward"><a href="javascript:viod(0)" >
                        <i class="icon-backward"></i></a>
                    </li>
                    <li class="middletab">
											<ul class="nav nav-tabs" role="tablist">
														<!--<li class="active"><a href="#Index" role="tab" data-toggle="tab">首页</a></li>-->
											</ul>
                    </li>
                    <li class="rightforward"><a href="javascript:viod(0)">
                            <i class="icon-forward"></i></a>
                     </li>
                </ul>

			      				<div class="tab-content">
			       					<!--<div role="tabpanel" class="tab-pane active" id="Index"></div>-->
			      				</div>

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<!-- /#ace-settings-container -->
			</div><!-- /.main-container-inner -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<script src='/js/jquery-2.0.3.min.js'></script>

		<!-- 自定义js -->
		<script src="/js/sidebar-menu.js"></script>
		<script src="/js/bootstrap-tab.js"></script>

		
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->


		<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="/js/jquery.ui.touch-punch.min.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/js/jquery.easy-pie-chart.min.js"></script>
		<script src="/js/jquery.sparkline.min.js"></script>
		<script src="/js/jquery.flot.min.js"></script>
		<script src="/js/jquery.flot.pie.min.js"></script>
		<script src="/js/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->

		<script src="/js/ace-elements.min.js"></script>
		<script src="/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			$(window).resize(function() {
			  	$("#sidebar").height($(window).height()-$("#navbar").height());
			  	$("div .tab-pane iframe").height($("#sidebar").height()-60);
			});

			$(function () {
					$("#sidebar").height($(window).height()-$("#navbar").height()-40);

				   $('#menu').sidebarMenu({
				    data: [{
				     id: '0',
				     text: '首页',
				     icon: 'icon-glass ',
				     url: '',
				     menus: [{
				      id: '00',
				      text: '首页',
				      close: false,
				      icon: 'icon-glass',
				      url: 'main.html'
				     }]
				    }, {
				     id: '1',
				     text: '系统设置',
				     icon: 'icon-cog',
				     url: '',
				     menus: [{
				      id: '11',
				      text: '表单示例',
				      icon: 'icon-glass',
				      url: 'tables.html',
				      close: true,
				     }]
				    }, {
				     id: '2',
				     text: '数据统计',
				     icon: 'icon-bar-chart',
				     url: '/datastatistics',
				     
				    }, {
				     id: '3',
				     text: '用户权限',
				     icon: 'icon-group',
				     url: '',
				     menus: [{
				      id: '31',
				      text: '用户管理',
				      icon: 'icon-group',
				      url: '/SystemSetting/User'
				     }, {
				      id: '32',
				      text: '角色管理',
				      icon: 'icon-apple',
				      url: '/SystemSetting/Role'
				     }, {
				      id: '33',
				      text: '权限管理',
				      icon: 'icon-list',
				      url: '/SystemSetting/Menu'
				     }]
				    }, {
				     id: '4',
				     text: '订单管理',
				     icon: 'icon-shopping-cart',
				     url: '',
				     menus: [{
				      id: '41',
				      text: '打印发货',
				      icon: 'icon-print',
				      url: '/printshipping'
				     }]
				    },
				     {
				     id: '5',
				     text: '物流监控',
				     icon: 'icon-truck',
				     url: '/logisticsmonitor',
				    }
				    
				    
				    
				    
				    ]
				   });
				   eval($("#menu_li_00 a").attr("href"));
			  });

				function gotoLeft(){
								var strLeft=$('.nav-my-tab .middletab .nav-tabs').css('left');
								var iLeft = parseInt(strLeft.replace('px', ''));
								var totalWidth=0;
								$.each($(".nav-tabs li"),function(key, item){
											 totalWidth+= $(item).width();
								});
								var tabsWidth = $(".nav-my-tab .middletab").width();
								if(totalWidth>tabsWidth){
										if(totalWidth-tabsWidth<=Math.abs(iLeft)){
												return;
										}
										var lis = $(".nav-tabs li");
										totalWidth=0;
										for(var i=0;i<lis.length;i++){
												var item = lis[i];
												totalWidth-= $(item).width();
												if(iLeft>totalWidth){
														iLeft-=$(item).width();
														break;
												}
										};
										$(".nav-my-tab .middletab .nav-tabs").animate({left:iLeft + 'px'});
								}

						};
				$(function () {
				    //tab页向左向右移动
				    $('.nav-my-tab .leftbackward').click(function(){
				        var strLeft=$('.nav-my-tab .middletab .nav-tabs').css('left');
				        var iLeft = parseInt(strLeft.replace('px', ''));
				        if(iLeft>=0){
				            return;
				        }
				        else{
				            var totalWidth=0;
				            var lis = $(".nav-tabs li");
				            for(var i=0;i<lis.length;i++){
				                var item = lis[i];
				                totalWidth-= $(item).width();
				                if(iLeft>totalWidth){
				                    iLeft+=$(item).width();
				                    break;
				                }
				            };
				            if(iLeft>0){
				                iLeft=0;
				            }
				            $(".nav-my-tab .middletab .nav-tabs").animate({left:iLeft + 'px'});
				        }
				    });
				    $('.nav-my-tab .rightforward').click(gotoLeft);
				});
		</script>
</body>
</html>
