[class^="im-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="im-"], [class^="br-"], [class^="ec-"], [class^="st-"], [class^="me-"], [class^="en-"], [class^="fa-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}

.im-pencil:before {
    content: "\e605";
}



[class^="im-"], [class^="br-"], [class^="ec-"], [class^="st-"], [class^="me-"], [class^="en-"], [class^="fa-"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
}
/**
 * 绿，黄，点
 */

.en-dot{
	  width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: mediumspringgreen;
}
/**
 * 下拉图标
 */
.en-arrow-down5:before {
    content: "\e6b2";
}




























